<%- include("template/header", {tituloWeb: '404'}) %>

    <h1 style="padding-top: 50px;"><%= titulo %></h1>
    <h1><%= descripcion %></h1>
    <img src="https://http.cat/images/599.jpg" alt="Error 500, Internal server error">

    
<%- include("template/footer") %>
